body {
    background-color: blue;
}

#main {
    background-image: linear-gradient(to bottom right, rgba(196, 65, 219, 0.753), rgba(102, 212, 226, 0.959));
    margin: 50px;
    border-radius: 25px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

#submit {
    color: white;
    background-color: rgb(0, 162, 255);
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

#movie-input {
    border-radius: 10px;
    padding: 5px;
}

#Poster2 {
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}


.temp-hidden {
    display: none;

}